/* Estilos para el formulario de registro */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilos para el título */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; /* Separación vertical entre elementos del formulario */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos para el botón de registro */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para el enlace "Volver al login" */
.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

.custom-input {
    margin-bottom: 20px;
}
